.card-img-top{
    height: 60%;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

.karta:hover{
    transform: scale(1.05);
    transition-duration: 300ms;
    filter: drop-shadow(10px 10px 10px gray);
    z-index: 500;
}

.stars-cont{
    height: 3vh;
}
